{% load static %}
{% load filters %}

<!DOCTYPE html>
<html lang="fa">

<head>
    <title>تکمیل خرید</title>
    {% include 'includes/head_references.html' %}
</head>

<body>
<div class="wrapper shopping-page">
    <!-- Start header-shopping -->
    <header class="header-shopping dt-sl">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center pt-2">
                    <div class="header-shopping-logo dt-sl">
                        <a href="#">
                            <img src="{% static 'img/logo.png' %}" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <ul class="checkout-steps">
                        <li>
                            <a href="#" class="active">
                                <span>اطلاعات ارسال</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>پرداخت</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>اتمام خرید و ارسال</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- End header-shopping -->

    <!-- Start main-content -->
    <main class="main-content dt-sl mt-4 mb-3">
        <div class="container main-container">
            <div class="row">
                <div class="cart-page-content col-xl-9 col-lg-8 col-12 px-0">
                    {% if error %}
                        <div class="alert alert-danger">
                            <h5>{{ error }}</h5>
                        </div>
                    {% endif %}
                    <div class="section-title text-sm-title title-wide no-after-title-wide mb-0 px-res-1">
                        <h2>انتخاب آدرس تحویل سفارش</h2>
                    </div>
                    <section class="page-content dt-sl">
                        <div class="address-section">
                            <div class="checkout-contact dt-sn dt-sn--box border px-0 pt-0 pb-0">
                                {% if active_address %}
                                    <div class="checkout-contact-content">
                                        <ul class="checkout-contact-items">
                                            <li class="checkout-contact-item">
                                                گیرنده:
                                                <span class="full-name">{{ active_address.fullname }}</span>
                                            </li>
                                            <li class="checkout-contact-item">
                                                <div class="checkout-contact-item checkout-contact-item-mobile">
                                                    شماره تماس:
                                                    <span class="mobile-phone">{{ active_address.mobile }}</span>
                                                </div>
                                                <div class="checkout-contact-item-message">
                                                    کد پستی:
                                                    <span class="post-code">{{ active_address.post_code }}</span>
                                                </div>
                                                <br>
                                                استان
                                                <span class="state">{{ active_address.province }}</span>
                                                ، ‌شهر
                                                <span class="city">{{ active_address.city }}</span>
                                                ،
                                                <span class="address-part">{{ active_address.province }}-{{ active_address.city }}</span>
                                            </li>
                                        </ul>
                                        <a class="checkout-contact-location" id="btn-checkout-contact-location">تغییر آدرس
                                            ارسال</a>
                                        <div class="checkout-contact-badge">
                                            <i class="mdi mdi-check-bold"></i>
                                        </div>
                                    </div>
                                {% else %}
                                    <a class="checkout-contact-location" id="btn-checkout-contact-location">ثبت آدرس ارسال</a>
                                {% endif %}
                                <div class="checkout-address dt-sn px-0 pt-0 pb-0" id="user-address-list-container">
                                    <div class="checkout-address-content">
                                        <div class="checkout-address-headline">آدرس مورد نظر خود را جهت تحویل
                                            انتخاب نمایید:
                                        </div>
                                        <div class="checkout-address-row">
                                            <div class="checkout-address-col">
                                                <button class="checkout-address-location" data-toggle="modal"
                                                        data-target="#modal-location">
                                                    <strong>ایجاد آدرس جدید</strong>
                                                </button>
                                            </div>
                                        </div>
                                        {% if addresses.all %}
                                            {% for address in addresses.all %}
                                                <div class="checkout-address-row">
                                                    <div class="checkout-address-col">
                                                        <div class="checkout-address-box is-selected">
                                                            <h5 class="checkout-address-title">{{ address.fullname }}</h5>
                                                            <p class="checkout-address-text">
                                                                <span>{{ address.province }} {{ address.city }}</span>
                                                            </p>
                                                            <p class="checkout-address-text">
                                                                <span>{{ address.address }}</span>
                                                            </p>
                                                            <ul class="checkout-address-list">
                                                                <li>
                                                                    <ul class="checkout-address-contact-info">
                                                                        <li>کدپستی: <span>{{ address.post_code }}</span></li>
                                                                        <li>شماره همراه: <span>{{ address.mobile }}</span></li>
                                                                    </ul>
                                                                </li>
                                                                <li>
                                                                    <ul>
                                                                        <li>
                                                                            <button class="checkout-address-btn-edit"
                                                                                    data-toggle="modal">
                                                                                    <!--data-target="#modal-location-edit" -->
                                                                                ویرایش
                                                                            </button>
                                                                        </li>
                                                                        <li>
                                                                            <button class="checkout-address-btn-remove"
                                                                                    onclick="window.location='{% url 'address:delete' address.id %}'">
                                                                                حذف
                                                                            </button>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                            {% if address.active %}
                                                                <button type="button"
                                                                        class="checkout-address-btn-submit">سفارش به این آدرس
                                                                    ارسال می‌شود
                                                                </button>
                                                            {% else %}
                                                                <button type="button" style="background-color: #696969"
                                                                        onclick="window.location='{% url 'address:active' address.id %}'"
                                                                        class="checkout-address-btn-submit">ارسال سفارش به این
                                                                    آدرس
                                                                </button>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <button class="checkout-address-cancel" id="cancel-change-address-btn"></button>
                                </div>

                                <!-- Start Modal location new -->
                                <div class="modal fade" id="modal-location" role="dialog"
                                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-lg send-info modal-dialog-centered"
                                         role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalCenterTitle">
                                                    <i class="now-ui-icons location_pin"></i>
                                                    افزودن آدرس جدید
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12">
                                                        <div class="form-ui dt-sl">
                                                            <form class="form-account" method="POST" id="AddressForm"
                                                                  data-cities-url="{% url 'address:get_cities' %}"
                                                                  action="{% url 'address:add' %}" role="form">
                                                                {% csrf_token %}
                                                                <div class="row">
                                                                    <div class="col-md-6 col-sm-12 mb-2">
                                                                        <div class="form-row-title">
                                                                            <h4>
                                                                                <label for="fullname">
                                                                                    نام و نام خانوادگی
                                                                                </label>
                                                                            </h4>
                                                                        </div>
                                                                        <div class="form-row">
                                                                            {{ form.fullname }}
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6 col-sm-12 mb-2">
                                                                        <div class="form-row-title">
                                                                            <h4>
                                                                                <label for="mobile">
                                                                                    شماره موبایل
                                                                                </label>
                                                                            </h4>
                                                                        </div>
                                                                        <div class="form-row">
                                                                           {{ form.mobile }}
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6 col-sm-12 mb-2">
                                                                        <div class="form-row-title">
                                                                            <h4>
                                                                                <label for="id_province">
                                                                                    استان
                                                                                </label>
                                                                            </h4>
                                                                        </div>
                                                                        <div class="form-row">
                                                                            {{ form.province }}
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6 col-sm-12 mb-2">
                                                                        <div class="form-row-title">
                                                                            <h4>
                                                                                <label for="id_city">
                                                                                    شهر
                                                                                </label>
                                                                            </h4>
                                                                        </div>
                                                                        <div class="form-row">
                                                                            {{ form.city }}
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 mb-2">
                                                                        <div class="form-row-title">
                                                                            <h4>
                                                                                <label for="address">
                                                                                    آدرس محل تحویل
                                                                                </label>
                                                                            </h4>
                                                                        </div>
                                                                        <div class="form-row">
                                                                            {{ form.address }}
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 mb-2">
                                                                        <div class="form-row-title">
                                                                            <h4>
                                                                                <label for="post_code">
                                                                                    کد پستی
                                                                                </label>
                                                                            </h4>
                                                                        </div>
                                                                        <div class="form-row">
                                                                            {{ form.post_code }}
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 pr-4 pl-4">
                                                                        <button type="submit"
                                                                                class="btn btn-sm btn-primary btn-submit-form">ثبت و ارسال به این آدرس
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Modal location new -->

                                <!-- Start Modal location edit -->
                                <div class="modal fade" id="modal-location-edit" role="dialog"
                                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-lg send-info modal-dialog-centered"
                                         role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalCenterTitle">
                                                    <i class="now-ui-icons location_pin"></i>
                                                    ویرایش آدرس
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12">
                                                        <div class="form-ui dt-sl">
                                                            <form class="form-account" action="">
                                                                <div class="row">
                                                                    <div class="col-md-6 col-sm-12 mb-2">
                                                                        <div class="form-row-title">
                                                                            <h4>
                                                                                <label for="id_fullname">
                                                                                    نام و نام خانوادگی
                                                                                </label>
                                                                            </h4>
                                                                        </div>
                                                                        <div class="form-row">
                                                                            <input class="input-ui pr-2 text-right"
                                                                                   type="text" id="id_fullname"
                                                                                   placeholder="نام خود را وارد نمایید">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6 col-sm-12 mb-2">
                                                                        <div class="form-row-title">
                                                                            <h4>
                                                                                <label for="id_mobile">
                                                                                    شماره موبایل
                                                                                </label>
                                                                            </h4>
                                                                        </div>
                                                                        <div class="form-row">
                                                                            <input class="input-ui pl-2 dir-ltr text-left"
                                                                                   type="text" id="id_mobile"
                                                                                   placeholder="09xxxxxxxxx">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6 col-sm-12 mb-2">
                                                                        <div class="form-row-title">
                                                                            <h4>
                                                                                <label for="id_province">
                                                                                    استان
                                                                                </label>
                                                                            </h4>
                                                                        </div>
                                                                        <div class="form-row">
                                                                            <div class="custom-select-ui">
                                                                                <select class="right" id="id_province">
                                                                                    <option value="khrasan-north">
                                                                                        خراسان شمالی
                                                                                    </option>
                                                                                    <option value="tehran">
                                                                                        تهران
                                                                                    </option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6 col-sm-12 mb-2">
                                                                        <div class="form-row-title">
                                                                            <h4>
                                                                                <label for="id_city">
                                                                                    شهر
                                                                                </label>
                                                                            </h4>
                                                                        </div>
                                                                        <div class="form-row">
                                                                            <div class="custom-select-ui">
                                                                                <select class="right" id="id_city">
                                                                                    <option value="bojnourd">
                                                                                        بجنورد
                                                                                    </option>
                                                                                    <option value="garme">
                                                                                        گرمه
                                                                                    </option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 mb-2">
                                                                        <div class="form-row-title">
                                                                            <h4>
                                                                                <label for="id_address">
                                                                                    آدرس پستی
                                                                                </label>
                                                                            </h4>
                                                                        </div>
                                                                        <div class="form-row">
                                                                            <textarea class="input-ui pr-2 text-right" id="id_address"
                                                                                      placeholder=" آدرس تحویل گیرنده را وارد نمایید"></textarea>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 mb-2">
                                                                        <div class="form-row-title">
                                                                            <h4>
                                                                                <label for="id_post_code">
                                                                                    کد پستی
                                                                                </label>
                                                                            </h4>
                                                                        </div>
                                                                        <div class="form-row">
                                                                            <input class="input-ui pl-2 dir-ltr text-left placeholder-right"
                                                                                   type="text" id="id_post_code"
                                                                                   placeholder=" کد پستی را بدون خط تیره وارد نمایید">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 pr-4 pl-4">
                                                                        <button type="submit"
                                                                                class="btn btn-sm btn-primary btn-submit-form">ثبت
                                                                            و ارسال به این آدرس
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Modal location edit -->

                            </div>
                        </div>

                        <form method="POST" action="{% url 'order:payment' %}" id="shipping-data-form" class="dt-sn dt-sn--box pt-3 pb-3">
                            {% csrf_token %}
                            <div class="section-title text-sm-title title-wide no-after-title-wide mb-0 px-res-1">
                                <h2>انتخاب نحوه ارسال</h2>
                            </div>
                            <div class="checkout-shipment border-bottom pb-3 mb-4">
                                <div class="custom-control custom-radio pl-0 pr-3">
                                    <input type="radio" class="custom-control-input" name="deliveryType" id="N"
                                           value="N" checked>
                                    <label for="N" class="custom-control-label">
                                        عادی (بین ۲ تا ۵ روز کاری)
                                    </label>
                                </div>
                                <div class="custom-control custom-radio  pl-0 pr-3">
                                    <input type="radio" class="custom-control-input" name="deliveryType" id="Q"
                                           value="Q">
                                    <label for="Q" class="custom-control-label">
                                        سریع‌ (حداکثر تا ۲ روز کاری آینده)
                                    </label>
                                </div>
                            </div>
                            <div class="section-title text-sm-title title-wide no-after-title-wide mb-0 px-res-1">
                                <h2>مرسولات ({{ cart.cart.cart_item.all.count }} کالا)</h2>
                            </div>
                            <div class="checkout-pack">
                                <section class="products-compact">
                                    <!-- Start Product-Slider -->
                                    <div class="col-12">
                                        <div class="products-compact-slider carousel-md owl-carousel owl-theme">
                                            {% for item in cart %}
                                                <div class="item">
                                                    <div class="product-card mb-3">
                                                        <a class="product-thumb" href="{% url 'product:detail' item.idkc %}">
                                                            <img src="{{ item.product.product.product_image.first.image.url }}"
                                                                 alt="{{ item.product.product.product_image.first.alt }}">
                                                        </a>
                                                        <div class="product-card-body">
                                                            <h5 class="product-title">
                                                                <a href="{% url 'product:detail' item.idkc %}">
                                                                    {{ item.product.product.title|truncatechars:24 }}
                                                                </a>
                                                            </h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <!-- End Product-Slider -->
                                </section>
                                <hr>
                            </div>
                        </form>
                        <div class="mt-5">
                            <a href="{% url 'cart:cart' %}" class="float-right border-bottom-dt">
                                <i class="mdi mdi-chevron-double-right"></i>بازگشت به سبد خرید
                            </a>
                            {% if active_address %}
                                <a href="#" id="shipping-data-submit"
                                   class="float-left border-bottom-dt">
                                    تایید و ادامه ثبت سفارش
                                    <i class="mdi mdi-chevron-double-left"></i>
                                </a>
                            {% else %}
                                <a href="#" class="float-left border-bottom-dt">
                                    تایید و ادامه ثبت سفارش
                                    <i class="mdi mdi-chevron-double-left"></i>
                                </a>
                            {% endif %}
                        </div>
                    </section>
                </div>
                <div class="col-xl-3 col-lg-4 col-12 w-res-sidebar sticky-sidebar">
                    <div class="dt-sn dt-sn--box border mb-2">
                        <ul class="checkout-summary-summary">
                            <li>
                                <span>مبلغ کل ({{ cart.cart.cart_item.all.count }} کالا)</span>
                                <span>{{ cart.base_total_price|change_rials|intcomma }} تومان</span>
                            </li>
                            {% if cart.total_price|discount:cart.base_total_price > 0 %}
                                <li class="checkout-summary-discount">
                                    <span>سود شما از خرید</span><span>{{ cart.total_price|discount:cart.base_total_price|change_rials|intcomma }}تومان</span>
                                </li>
                            {% endif %}
                            <li>
                                <span>هزینه ارسال<span class="help-sn" data-toggle="tooltip" data-html="true" data-placement="bottom"
                                           title="<div class='help-container is-right'><div class='help-arrow'></div><p class='help-text'>هزینه ارسال مرسولات می‌تواند وابسته به شهر و آدرس گیرنده متفاوت باشد. در صورتی که هر یک از مرسولات حداقل ارزشی برابر با ۱۵۰هزار تومان داشته باشد، آن مرسوله بصورت رایگان ارسال می‌شود.<br>'حداقل ارزش هر مرسوله برای ارسال رایگان، می تواند متغیر باشد.'</p></div>">
                                        <span class="mdi mdi-information-outline"></span>
                                    </span></span><span>وابسته به آدرس</span>
                            </li>
                        </ul>
                        <div class="checkout-summary-devider">
                            <div></div>
                        </div>
                        <div class="checkout-summary-content">
                            <div class="checkout-summary-price-title">مبلغ قابل پرداخت:</div>
                            <div class="checkout-summary-price-value">
                                <span class="checkout-summary-price-value-amount">{{ cart.total_price|change_rials|intcomma }}</span>
                                تومان
                            </div>
                            <button class="mb-2 d-block">
                                {% if active_address %}
                                    <button type="submit" form="shipping-data-form"
                                            class="btn-primary-cm btn-with-icon w-100 text-center pr-0 pl-0">
                                        <i class="mdi mdi-arrow-left"></i>
                                        تایید و ادامه ثبت سفارش
                                    </button>
                                {% else %}
                                    <button type="button"
                                            class="btn-primary-cm btn-with-icon w-100 text-center pr-0 pl-0">
                                        <i class="mdi mdi-arrow-left"></i>
                                        تایید و ادامه ثبت سفارش
                                    </button>
                                {% endif %}
                            </button>
                            <div>
                                <span>
                                    کالاهای موجود در سبد شما ثبت و رزرو نشده‌اند، برای ثبت سفارش
                                    مراحل بعدی را تکمیل کنید.
                                </span><span class="help-sn" data-toggle="tooltip" data-html="true"
                                             data-placement="bottom"
                                             title="<div class='help-container is-right'><div class='help-arrow'></div><p class='help-text'>محصولات موجود در سبد خرید شما تنها در صورت ثبت و پرداخت سفارش برای شما رزرو می‌شوند. در صورت عدم ثبت سفارش، دیجی‌کالا هیچگونه مسئولیتی در قبال تغییر قیمت یا موجودی این کالاها ندارد.</p></div>">
                                    <span class="mdi mdi-information-outline"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="dt-sn dt-sn--box checkout-feature-aside pt-4">
                        <ul>
                            <li class="checkout-feature-aside-item">
                                <img src="{% static 'img/svg/return-policy.svg' %}" alt="MoneyBackGuarantee">
                                هفت روز ضمانت تعویض
                            </li>
                            <li class="checkout-feature-aside-item">
                                <img src="{% static 'img/svg/payment-terms.svg' %}" alt="PayWithCards">
                                پرداخت در محل با کارت بانکی
                            </li>
                            <li class="checkout-feature-aside-item">
                                <img src="{% static 'img/svg/delivery.svg' %}" alt="ExpressDispatch">
                                تحویل اکسپرس
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- End main-content -->
    <!-- Start mini-footer -->
    <footer class="mini-footer dt-sl">
        <div class="container main-container">
            <div class="row">
                <div class="col-md-6 col-sm-12 text-left">
                    <i class="mdi mdi-phone-outline"></i>
                    شماره تماس : <a href="#">
                    ۶۱۹۳۰۰۰۰
                    - ۰۲۱
                </a>
                </div>
                <div class="col-md-6 col-sm-12 text-right">
                    <i class="mdi mdi-email-outline"></i>
                    آدرس ایمیل : <a href="#">info@gmail.com</a>
                </div>
                <div class="col-12 text-center mt-2">
                    <p class="text-secondary text-footer">
                        استفاده از کد تخفیف، درصفحه ی پرداخت امکان پذیر است.
                    </p>
                </div>
                <div class="col-12 text-center">
                    <div class="copy-right-mini-footer">
                        Copyright © 2023 Didikala
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End mini-footer -->
</div>
<!-- Main JS File -->
{% include 'includes/footer_references.html' %}
</body>

<script>
    $("#id_province").change(function () {
      var url = $("#AddressForm").attr("data-cities-url");  // get the url of the `load_cities` view
      var provinceId = $(this).val();

      $.ajax({
        url: url,
        data: {
          'province': provinceId
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
            $("#id_city").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });

    document.getElementById('').addEventListener("click", function (e){
        e.preventDefault();
    })
  </script>

</html>
