{% load static %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="theme-color" content="#f7858d">
<meta name="msapplication-navbutton-color" content="#f7858d">
<meta name="apple-mobile-web-app-status-bar-style" content="#f7858d">
<link rel="icon" type="image/png" href="{% static 'img/../../assets/img/2.png' %}">
<!-- Font Icon -->
<link rel="stylesheet" href="{% static 'css/vendor/../../assets/css/vendor/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'css/vendor/../../assets/css/vendor/materialdesignicons.min.css' %}">
<!-- Bootstrap -->
<link rel="stylesheet" href="{% static 'css/vendor/../../assets/css/vendor/bootstrap.min.css' %}">
<!-- Plugins -->
<link rel="stylesheet" href="{% static 'css/vendor/../../assets/css/vendor/bootstrap-slider.min.css' %}">
<link rel="stylesheet" href="{% static 'css/vendor/../../assets/css/vendor/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'css/vendor/../../assets/css/vendor/jquery.horizontalmenu.css' %}">
<link rel="stylesheet" href="{% static 'css/vendor/../../assets/css/vendor/jquery-stack-menu.min.css' %}">
<link rel="stylesheet" href="{% static 'css/vendor/../../assets/css/vendor/fancybox.min.css' %}">
<link rel="stylesheet" href="{% static 'css/vendor/../../assets/css/vendor/nice-select.css' %}">
<link rel="stylesheet" href="{% static 'css/vendor/../../assets/css/vendor/nouislider.min.css' %}">
<!-- Main CSS File -->
<link rel="stylesheet" href="{% static 'css/../../assets/css/main.css' %}">
<link rel="stylesheet" href="{% static 'css/colors/../../assets/css/colors/default.css' %}" id="colorswitch">
