{% load static %}
{% load filters %}
{% load render_partial %}

<header class="main-header">
    <!-- Start ads -->
    <div class="ads-header-wrapper">
        <a href="#" class="ads-header hidden-sm" target="_blank"
           style="background-image: url({% static "img/banner/large-ads.jpg" %})"></a>
    </div>
    <!-- End ads -->

    <!-- Start top bar -->
    <div class="container main-container">
        <div class="topbar dt-sl">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-6">
                    <div class="logo-area">
                        <a href="{% url 'main:index' %}">
                            <img src="{% static "img/logo.png" %}" alt="">
                        </a>
                    </div>
                </div>
                <!-- Start Dynamic search bar -->
                <div class="col-lg-6 col-md-5 hidden-sm">
                    <div class="search-area dt-sl">
                        <form action="" class="search">
                            <input type="text" name="q" placeholder="نام کالا، برند و یا دسته مورد نظر خود را جستجو کنید…">
                            <i class="far fa-search search-icon"></i>
                            <button class="close-search-result" type="button"><i
                                    class="mdi mdi-close"></i></button>
                            <div class="search-result">
                                <ul>
                                    <li>
                                        <a href="#">موبایل</a>
                                    </li>
                                    <li>
                                        <a href="#">مد و پوشاک</a>
                                    </li>
                                    <li>
                                        <a href="#">میکروفن</a>
                                    </li>
                                    <li>
                                        <a href="#">میز تلویزیون</a>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- .End Dynamic search bar -->

                <!-- Start Dynamic User section -->
                <div class="col-md-4 col-6 topbar-left">
                    <ul class="nav float-left">
                        {% if request.user.is_authenticated %}
                            <li class="nav-item account dropdown">
                                <a class="nav-link" href="#" data-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false">
                                    <span class="label-dropdown">حساب کاربری</span>
                                    <i class="mdi mdi-account-circle-outline"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-left">
                                    <a class="dropdown-item" href="#">
                                        <i class="mdi mdi-account-card-details-outline"></i>پروفایل
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <span class="float-left badge badge-dark">0</span>
                                        <i class="mdi mdi-comment-text-outline"></i>پیغام ها
                                    </a>
                                    <div class="dropdown-divider" role="presentation"></div>
                                    <a class="dropdown-item" href="{% url 'account:logout' %}?next={{ request.path }}">
                                        <i class="mdi mdi-logout-variant"></i>خروج
                                    </a>
                                </div>
                            </li>
                        {% else %}
                            <li class="nav-item account dropdown">
                                <a class="nav-link" href="{% url 'account:login' %}?next={{ request.get_full_path }}"
                                   aria-expanded="false">
                                    <span class="label-dropdown mt-1">ورود | ثبت نام</span>
                                    <i class="mdi mdi-account-circle-outline"></i>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <!-- .End Dynamic User section -->

            </div>
        </div>
    </div>
    <!-- End top bar -->

    <!-- Start bottom-header -->
    <div class="bottom-header dt-sl mb-sm-bottom-header">
        <div class="container main-container">

            <!-- Start Main-Menu -->
            <nav class="main-menu d-flex justify-content-md-between justify-content-end dt-sl">

                <!-- Start navbar menu -->
                {% render_partial "product:navbar_menu" %}
                <!-- .End navbar menu -->

                <!-- Start Header Cart -->
                <div class="nav mr-auto">
                    <div class="nav-item cart--wrapper">

                        <a class="nav-link" href="{% url 'cart:cart' %}">
                            <span class="label-dropdown">سبد خرید</span>
                            <i class="mdi mdi-cart-outline"></i>
                            {% if header_cart.cart.cart_item.all.count %}
                                <span class="count">{{ header_cart.cart.cart_item.all.count }}</span>
                            {% else %}
                                <span class="count">{{ header_cart.cart.items|length }}</span>
                            {% endif %}
                        </a>

                        <div class="header-cart-info">
                            <div class="header-cart-info-header">
                                {% if header_cart.cart.cart_item.all.count %}
                                    <div class="header-cart-info-count">
                                        {{ header_cart.cart.cart_item.all.count }} کالا
                                    </div>
                                {% else %}
                                    <div class="header-cart-info-count">
                                        {{ header_cart.cart.items|length }} کالا
                                    </div>
                                {% endif %}
                                <a href="{% url 'cart:cart' %}" class="header-cart-info-link">
                                    <span>مشاهده سبد خرید</span>
                                </a>
                            </div>

                            <ul class="header-basket-list do-nice-scroll">
                                {% for item in header_cart %}
                                    <li class="cart-item">
                                        <a href="{% url 'product:detail' item.idkc %}" class="header-basket-list-item">
                                            <div class="header-basket-list-item-image">
                                                <img src="{{ item.product.product.product_image.first.image.url }}"
                                                     alt="{{ item.product.product.product_image.first.alt }}">
                                            </div>
                                            <div class="header-basket-list-item-content">
                                                <p class="header-basket-list-item-title">
                                                    {{ item.product.product.title }}
                                                </p>
                                                <div class="header-basket-list-item-footer">
                                                    <div class="header-basket-list-item-props">
                                                            <span class="header-basket-list-item-props-item">
                                                                {{ item.quantity }} x
                                                            </span>
                                                        <span class="header-basket-list-item-props-item">
                                                                <div class="header-basket-list-item-color-badge"
                                                                     style="background: #{{ item.product.color.hex_code }}">
                                                                </div>
                                                                {{ item.product.color.title_fa }}
                                                            </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>

                            <!-- Check if cart is emtpy -->
                            {% if header_cart.total_price %}
                                <div class="header-cart-info-footer">
                                    <div class="header-cart-info-total">
                                        <span class="header-cart-info-total-text">مبلغ قابل پرداخت:</span>
                                        <p class="header-cart-info-total-amount">
                                            <span class="header-cart-info-total-amount-number">{{ header_cart.total_price|change_rials|intcomma }}<span>تومان</span></span>
                                        </p>
                                    </div>

                                    <div>
                                        <a href="{% url 'cart:cart' %}" class="header-cart-info-submit">
                                            ثبت سفارش
                                        </a>
                                    </div>
                                </div>
                            {% else %}
                                <div class="header-cart-info-footer">
                                    <div class="header-cart-info-total">
                                        <span class="header-cart-info-total-text">سبد خرید خالی است</span>
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
                <!-- .End Header Cart -->

                <button class="btn-menu">
                    <div class="align align__justify">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>

                <div class="overlay-side-menu">
                </div>
            </nav>
            <!-- End Main-Menu -->
        </div>
    </div>
    <!-- End bottom-header -->
</header>