{% load static %}

<ul class="list hidden-sm">
    <li class="list-item category-list">
        <a href="#"><i class="fal fa-bars ml-1"></i>دسته بندی کالاها</a>
        <ul>
            {% for category in categories %}
                {% if not category.parent %}
                    <li>
                        <a href="{% url "product:category_search" category.slug %}">{{ category.title }}</a>
                        {% if category.sub_categories.all %}
                            <ul class="row">
                                {% for sub in category.sub_categories.all %}
                                    <li class="sublist--title">
                                        <a href="{% url "product:category_search" sub.slug %}">{{ sub.title }}</a>
                                        {% for sub_item in sub.sub_categories.all %}
                                            <li class="sublist--item">
                                                <a href="{% url "product:category_search" sub_item.slug %}">{{ sub_item.title }}</a>
                                            </li>
                                        {% endfor %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </li>
    <!-- mega menu 4 column -->
</ul>

<!-- Star Sidebar menu -->
<div class="side-menu">
    <div class="logo-nav-res dt-sl text-center">
        <a href="#">
            <img src="{% static "img/logo.png" %}" alt="">
        </a>
    </div>
    <div class="search-box-side-menu dt-sl text-center mt-2 mb-3">
        <form action="">
            <input type="text" name="s" placeholder="جستجو کنید...">
            <i class="mdi mdi-magnify"></i>
        </form>
    </div>
    <ul class="navbar-nav dt-sl">
        {% for category in categories %}
            <li class="sub-menu">
                {% if not category.parent %}
                    <a href="{% url "product:category_search" category.slug %}">{{ category.title }}</a>
                    {% if category.sub_categories.all %}
                        <ul>
                            {% for sub in category.sub_categories.all %}
                                <li class="sub-menu">
                                    <a href="{% url "product:category_search" sub.slug %}">{{ sub.title }}</a>
                                    {% if sub.sub_categories.all %}
                                        <ul>
                                            {% for sub_item in sub.sub_categories.all %}
                                                <li>
                                                    <a href="{% url "product:category_search" sub_item.slug %}">{{ sub_item.title }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
