@font-face {
    font-family: samim;
    src: url("Samim.eot") format('eot');
    src: url("Samim.ttf") format('ttf');
    src: url("Samim.woff") format('woff');
    src: url("Samim.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: samim, serif;
}
